doctype html
html(lang="es")
	head
		title= "Hostal Saez"
		link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
		link(type="text/css",rel='stylesheet', href='/assets/css/my_css.css')
		script(src='/socket.io/socket.io.js')
		script(src='client.js')
	body
		div.container(style="width:50%;")
			br
			div(class="form-group row")
				div.col-1
				div(class="col-5 col-form-label")
					label Buscar por fecha de reserva
				div.col-5
					input#search.form-control(type="date", size="9", onchange='return addMessage();')
				div.col-1
		div.container(style="width:90%")
			table#fq_table.table

			
				
			



				