div(align="center")
	h2 Hostal Saez
	a(href="https://arcane-ocean-55859.herokuapp.com/register_reservation") 
		h3 Generar reserva
	a(href="https://arcane-ocean-55859.herokuapp.com/check_date") 
		h3 Consultar por fecha de reserva
	a(href="https://arcane-ocean-55859.herokuapp.com/check_reservations") 
		h3 Consultar reservas
