doctype html
html(lang="es")
	head
		title= "Hostal Saez"
		link(type="text/css", rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
		link(type="text/css",rel='stylesheet', href='/assets/css/nanostyle.css')
		script(src='/socket.io/socket.io.js')
		script(src='client.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

	body
		div.container(align="center")
			br
			h3#fq_letra Hostal Saez
			h3 
			hr.intro-divider
			div.container
				
				a#fq_a(href="#{url}/save_booking", class="btn btn-default btn-lg")
					span(class="network-name", style="font-color:black;")
						font#fq_font_w Reservar
			
				a#fq_a(href="#{url}/find_bookings", class="btn btn-default btn-lg")
					span(class="network-name")
						font#fq_font_w Consultar fecha			

				a#fq_a(href="#{url}/all_bookings", class="btn btn-default btn-lg")
					span.network-name
						font#fq_font_w Ver reservas
			div.container
				div.connected_users

		div.fq_inferior
				span#fq_copy_left © 
				p#fq_tagline Fernando J. Quevedo

			
			
			

			



	

		


								



