div(align="center")
	h2 Hostal Saez
	a(href="https://arcane-ocean-55859.herokuapp.com:3001/register_reservation") 
		h3 Generar reserva
	a(href="http://127.0.0.1:3001/check_date") 
		h3 Consultar por fecha de reserva
	a(href="https://arcane-ocean-55859.herokuapp.com:3001/check_reservations") 
		h3 Consultar reservas
