html, body {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size:14px;
}
#fq_letra {
color:black;
font-family:Montserrat, "Helvetica Neue", sans-serif;
text-rendering: optimizeLegibility;
font-size: responsive 3px 25px;
}
.fq_inferior, img {
	background: url(https://www.rutaschile.com/configurador/Foto_Destinos/Grande_19112015073440.jpg) 100% 50% no-repeat;
	background-size:100%;
	position:absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
	height:200px; /*alto del div*/
	z-index:0;
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)))
}
#fq_box{ 
    display:inline;
}
#fq_a {
	background-color:#F2F2F2;
	display: inline-block;
	
	width:25%;
	margin:20px;
	-webkit-box-shadow: 0 3px 3px -3px black;
    -moz-box-shadow: 0 3px 3px -3px black;
    box-shadow: 0 3px 3px -3px black;
}
#fq_inline {
	display: inline-block;
	font-size: responsive 3px 15px;
	margin:10px;
}
#fq_font_w {
	color:black;
	font-family:Courier New;
	font-size: responsive 3px 18px;
}
#fq_copy_left {
	margin: 0px;
	display: inline-block;
	text-align: right;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	position:absolute; 
	right:123px; 
	bottom:13px; 
	font-size:10px;
}
#fq_tagline {
	font-size: 10px;
	position:absolute; 
	right:21px; 
	bottom:0px;	
}
#fq_table {
	font-size: responsive 3px 12px;
	margin:0;	
}
#div_table{
	width:90%; 
	height: 90%; 
	overflow:auto;
}
#fq_divform {
	width:33%;
	font-size: responsive 3px 15px;
	position:absolute 0 0 0 33%;
	text-align: left;
}
#fq_divdisplay{
	width:40%;
	font-size: responsive 3px 15px;
	position:absolute 5% 0 0 30%;
	text-align: left;
}
#button_form {
	font-size: responsive 3px 15px;
	float:right;
}
#resp_text{
	font-size: responsive 3px 15px;
}
#inlinebox{
  display: inline-block;
  margin: 5px;
  font-size: responsive 3px 16px;
}
#blockbox{
  display: block;
  margin: 5px;
}
#htext{
	font-size: responsive 3px 26px;
}
#search{
	font-size: responsive 3px 15px;
}

h6{
	font-size: responsive 3px 15px;
}


